<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafit.model.dao.CalendarDao">
	<resultMap type="Calendar" id="CalendarMap">
		<id column="user_id" property="userId" />
		<result column="todo_id" property="todoId" />
		<result column="date" property="date" />
		<result column="day_of_week" property="dayOfWeek" />
		<result column="eat_calories" property="eatCalories" />
		<result column="use_calories" property="useCalories" />
	</resultMap>
	<select id="selectCalendarListByUserId" resultMap="CalendarMap" parameterType="string">
		select *
		from Calendar
		where user_id = #{userId}
	</select>
	<select id="selectCalendarOne" resultMap="CalendarMap">
		select *
		from Calendar
		where (user_id, date) = (#{userId}, #{date})
	</select>
	<insert id="insertCalendar" parameterType="Calendar">
		insert into Calendar
		values(#{userId}, 0, #{date}, #{dayOfWeek}, #{eatCalories}, #{useCalories})
		
	</insert>
	<update id="updateCalendar" parameterType="Calendar">
		update Calendar
		   set eat_calories = #{eatCalories},
		   	   use_calories = #{useCalories}
		 where (user_id, date) = (#{userId}, #{date})
	</update>
	<delete id="deleteCalendar">
		delete from Calendar
		 where (user_id, date) = (#{userId}, #{date})
	</delete>
</mapper>