<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ssafit.model.dao.UserDao">
	<insert id="insertUser" parameterType="user">
		insert into user values(#{id}, #{password}, #{email}, #{nickname})
	</insert>
	<select id="selectById" parameterType="string" resultType="user">
		select * from user where id like #{id}
	</select>
	<update id="updateUser" parameterType="user">
		update user
		   set password = #{password},
		       email = #{email},
		       nickname = #{nickname}
		 where id = #{id}
	</update>
	<delete id="deleteUser" parameterType="string">
		delete from user
		 where id = #{id}
	</delete>
	<insert id="insertLikeVideo">
		insert into like_video values(#{videoId}, #{userId})
	</insert>
	<delete id="deleteLikeVideo">
		delete from like_video 
		 where (video_id, user_id) = (#{videoId}, #{userId})
	</delete>
</mapper>